body {
    width: 100%;
}

header {
    background-color: black;
    max-width: 1350px;
    height: 150px;
}

.h1-img-logo {
    display: inline-block;
    width: 230px;
    height: 150px;
}

.img-logo {
    display: inline-block;
    position: relative;
    justify-content: end;
 
}

nav ul {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 90px;
}

nav li {
    display: inline;
    position: relative;    
}

nav a {
    color: #FFF;
    font-family: var(--fonte2);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 60px;
}

nav a:hover {
    font-size: 22px;
    transition-delay: 0.12s;
    transition-duration: 0.14s;
    text-decoration: underline;
}

 a:visited, a:active {
	text-decoration: underline;
}

#img-hamburguer {
    max-width: 100%;
    min-width: 350px; 
}

/* SEÇÃO - CONTAINER MAIN */

.container-info-cardapio {
    background-color: rgb(194,182,158);
}













:root {
    --fonte1: 'Bebas Neue', cursive;
	--fonte2: 'Fira Sans', sans-serif;
    --fonte3:  'Montserrat', sans-serif;
    --fonte4: 'Android', sans-serif;
}